/*-->  @important font <-- */
@import url("https://fonts.googleapis.com/css2? family= Karla:wght@700 & family= Montserrat:wght@400;500;600;700 & display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monserrat";
}

body,
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    min-height: 100vh;
    background: #5fa4d8;
}

.wrapper {
    width: 420px;
    background: #fffcff;
    padding: 30px 30px 38px;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgba(172, 198, 212, 0.6);
}

.clock__photo {
    max-width: 200px;
}

h1 {
    font-size: 38px;
    font-weight: 700;
    margin: 30px 0px;
    padding: 15px 20px;
    border: 1px solid rgba(236, 233, 233, 0.6);
    border-radius: 5px;
    color: #332;
    box-shadow: 0px 0px 5px #5fa4d8;
}

.disable {
    opacity: 0.6;
    pointer-events: none;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.column {
    padding: 2px;
    border-radius: 6px;
    border: 1px solid rgb(207, 233, 211);
}

select {
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 53px;
    padding: 0px 15px;
    width: 100%;
    font-size: 19px;
    font-size: 20px;
    font-family: serif;
}

select:hover {
    box-shadow: 0px 0px 10px #5fa4d8;
    border: 1px solid #98d0f8;
}

button {
    margin-top: 30px;
    width: 100%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    background-color: #88cafc;
    border: none;
    border-radius: 15px;
}

button:hover {
    background-color: #badbf5;
    box-shadow: 0px 0px 15px #5fa4d8;
}

@media only screen and (max-width: 425px) {
    .wrapper {
        border-radius: 0;
    }
}
